<!-- Header -->
    <section id="header" class="skel-layers-fixed">
        <header>
            <span class="image avatar"><img src="{{ site.baseurl }}/images/avatar.jpeg" alt="" /></span>
            <h1 id="logo"><a href="{{ site.baseurl }}/">Marcos Diego Psicólogo</a></h1>
            <p>CRP<br>
            06/154355</p>
        </header>
        <nav id="nav">
            <ul>
                <li><a href="{{ site.baseurl }}/">Home</a></li>
                <li><a href="{{ site.baseurl }}/contact">Contato</a></li>
                <li><a href="{{ site.baseurl }}/blog">Artigos</a></li>
            </ul>
        </nav>
        <footer>
            <ul class="icons">
              <!--  <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li> -->
                <li><a href="https://wa.me/5511982596483?text=Gostaria%20de%20saber%20mais%20sobre%20o%20atendimento" class="icon fa-whatsapp" target="_blank"><span class="label">Whatsapp</span></a></li>
                <li><a href="https://www.facebook.com/marcosdiegode.almeida" class="icon fa-facebook-square" target="_blank"><span class="label">Facebook</span></a></li>
                <li><a href="https://www.instagram.com/marcos.diegopsicologo/" class="icon fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
                <li><a href="skype:live:.cid.8654d3e5c2fde42f?chat" class="icon fa-skype"><span class="label">Skype</span></a></li>
                <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
            </ul>
        </footer>
    </section>

